@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --black: #4d4c59;
  --purple: #6c63ff;
  --light-grey: #c8c8c8;
  --text-color: #9c9ab6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.conteiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-image,
.bottom-image {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-size: 36px;
  font-weight: 700;
  color: var(--purple);
  letter-spacing: 5px;
  padding-bottom: 19px;
}

.conteiner-hours {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul {
  display: flex;
  gap: 91px;
  margin-left: 150px;
}

li {
  list-style: none;
  color: var(--light-grey);
  font-size: 14px;
}
li:last-child {
  margin-left: -14px;
}

.countdown {
  width: 494px;
  color: var(--black);
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 20px;
}

.info-inscreva {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  padding: 30px 0 31px 0;
}

.info-button {
  width: 160px;
  height: 46px;
  border-radius: 10px;
  color: #ffffff;
  background: var(--purple);
  border: none;
}

.info-button:hover {
  background-color: #4a41f3;
}
